@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 980px; } }
@media (min-width: 1170px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -20px;
  margin-right: -20px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs, td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm, td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md, td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg, td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print, td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/*form styles*/
#msform {
  position: relative;
  padding: 50px; }
  #msform .errortext {
    display: none; }
  #msform .error input {
    border: 1px solid red; }
  #msform .error .errortext {
    color: red;
    font-size: 14px;
    font-style: italic;
    position: relative;
    top: 0;
    right: 0;
    display: block;
    margin-bottom: 0; }
  #msform label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 45%;
    padding-top: 8px; }
  #msform select {
    -webkit-appearance: none;
    -moz-appearance: none; }
  #msform .select-custom {
    float: left;
    width: 55%;
    min-height: 44px;
    border-radius: 3px;
    position: relative;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0eeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eeee',GradientType=0 );
    padding: 5px;
    position: relative;
    border: 1px solid #fff !important; }
    #msform .select-custom select {
      position: absolute;
      height: 100%;
      left: 0;
      width: 100%;
      background: transparent;
      top: 0;
      border: none;
      padding: 10px;
      z-index: 10;
      background: transparent; }
    #msform .select-custom:before {
      border: none;
      width: 100%;
      height: 17px;
      width: 19px;
      background: url(../images/arrow-down.png);
      position: absolute;
      right: 16px;
      top: 15px;
      content: ''; }
    #msform .select-custom:after {
      content: "";
      height: 43px;
      position: absolute;
      width: 2px;
      background: #fff;
      right: 50px;
      z-index: 10;
      display: block;
      top: 0; }
  #msform #secteur-bloc #secteur-list {
    position: relative;
    width: 55%;
    float: right; }
    #msform #secteur-bloc #secteur-list .r-group {
      position: relative; }
      #msform #secteur-bloc #secteur-list .r-group button {
        text-align: right;
        color: red;
        display: block;
        width: 100%;
        margin-top: -10px;
        font-size: 14px;
        float: left; }
    #msform #secteur-bloc #secteur-list select {
      width: 100%; }
    #msform #secteur-bloc #secteur-list button {
      width: auto;
      background: none;
      border: none;
      display: inline-block;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 10px; }
      #msform #secteur-bloc #secteur-list button span {
        padding-bottom: 3px;
        border-bottom: 1px solid #333; }
      #msform #secteur-bloc #secteur-list button:hover {
        color: #d60565; }
    #msform #secteur-bloc #secteur-list .proposition {
      position: relative; }
    #msform #secteur-bloc #secteur-list #other-proposition {
      display: none;
      float: left;
      width: 100%; }
    #msform #secteur-bloc #secteur-list .list-ville {
      position: absolute;
      max-height: 200px;
      overflow: auto;
      background: #fff;
      top: 47px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 15px;
      display: none;
      z-index: 101; }
      #msform #secteur-bloc #secteur-list .list-ville li {
        font-size: 12px;
        cursor: pointer;
        font-weight: 600; }
        #msform #secteur-bloc #secteur-list .list-ville li:hover {
          color: #d60565; }
  #msform #secteur-bloc input {
    width: 100%; }
  #msform #periode-bloc {
    display: table;
    margin-top: 5px; }
    #msform #periode-bloc ul {
      width: 40%;
      text-align: left;
      float: right; }
    #msform #periode-bloc li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
    #msform #periode-bloc ul li input[type=radio] {
      position: absolute;
      visibility: hidden; }
    #msform #periode-bloc label {
      padding-right: 15px;
      width: 60%;
      padding-top: 17px;
      text-align: right; }
      #msform #periode-bloc label .errortext {
        width: 100%;
        font-weight: 400;
        right: 0;
        top: initial;
        bottom: 0;
        position: relative;
        text-align: right; }
    #msform #periode-bloc ul li label {
      text-align: left;
      position: relative;
      font-weight: 500;
      width: 100%;
      font-size: 14px;
      padding: 0 0 0 25px;
      margin: 0;
      height: auto;
      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
      font-style: italic; }
    #msform #periode-bloc ul li:hover label {
      color: #54c0eb; }
    #msform #periode-bloc ul li .check {
      display: block;
      position: absolute;
      height: 15px;
      width: 15px;
      top: 50%;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
      margin-top: -8px;
      -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      background: #fff;
      border-radius: 3px; }
    #msform #periode-bloc ul li:hover .check {
      -webkit-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26);
      box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26); }
    #msform #periode-bloc ul li .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 3px;
      height: 15px;
      width: 14px;
      top: 0px;
      left: 0px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
    #msform #periode-bloc input[type=radio]:checked ~ .check::before {
      background: #d60565; }
    #msform #periode-bloc input[type=radio]:checked ~ label {
      color: #333; }
  #msform #age-bloc label {
    width: 60%;
    text-align: right;
    padding-right: 15px; }
  #msform #age-bloc input {
    float: right;
    width: 40%; }
    #msform #age-bloc input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield; }
    #msform #age-bloc input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield; }
  #msform #cnil {
    font-size: 13px;
    font-style: italic; }
  #msform .content {
    text-align: center;
    float: left;
    width: 100%; }
    #msform .content #confirm-msg {
      font-size: 15px;
      display: inline-block;
      background: #c01992;
      background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: linear-gradient(to right, #c01992 1%, #d60564 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
      color: #fff;
      padding: 10px 25px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600; }
    #msform .content #rappel-msg {
      text-align: center;
      color: #d60565;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 35px; }
      #msform .content #rappel-msg span {
        display: block; }
  #msform .confirmation-phone {
    text-align: center; }
    #msform .confirmation-phone #information-rappel {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px; }
      #msform .confirmation-phone #information-rappel p {
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-top: 10px; }
    #msform .confirmation-phone #numero-form {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px; }
  #msform #etape-two label {
    width: 30%; }
  #msform #etape-two input {
    width: 70%; }
  #msform #etape-two .error .errortext {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    text-align: right;
    margin-bottom: 15px;
    margin-top: -9px; }
  #msform #etape-two #civilite-bloc input {
    width: auto;
    min-height: auto;
    vertical-align: middle;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: none;
    margin-left: 5px;
    margin-top: 4px; }
  #msform #etape-two #civilite-bloc.error .errortext {
    text-align: left;
    display: inline-block;
    float: none;
    width: auto; }
  #msform #etape-two #civilite-bloc ul li {
    display: inline-block;
    vertical-align: middle; }
    #msform #etape-two #civilite-bloc ul li:first-child {
      margin-right: 15px; }
    #msform #etape-two #civilite-bloc ul li span {
      width: auto;
      display: inline-block;
      vertical-align: middle; }

#msform fieldset {
  border: 0 none;
  margin: 0;
  padding: 0; }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#msform input, #msform textarea {
  padding: 10px;
  border: 1px solid #ccc;
  float: right;
  width: 55%;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 15px;
  font-weight: 500;
  min-height: 45px; }
  #msform input:focus, #msform textarea:focus {
    border: 1px solid #d60565; }

/*buttons*/
#msform .action-button {
  padding: 14px 25px;
  border: none;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background: #c01992;
  background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
  background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
  background: linear-gradient(to right, #c01992 1%, #d60564 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
  color: #fff;
  width: auto;
  text-transform: uppercase; }
  #msform .action-button.next {
    float: right;
    margin-top: 30px; }
    #msform .action-button.next p {
      margin-bottom: 0;
      line-height: 1em;
      font-size: 20px; }
    #msform .action-button.next i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      font-size: 16px; }
  #msform .action-button.valid {
    margin-top: 30px;
    float: right; }
  #msform .action-button:hover {
    background: #54c0eb; }

/*progressbar*/
#progressbar {
  margin-bottom: 45px;
  counter-reset: step;
  position: relative;
  float: left;
  width: 100%; }
  #progressbar:after {
    background: #d1dbe3;
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    left: 0;
    bottom: -15px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }

#progressbar li {
  list-style-type: none;
  font-size: 16px;
  width: 33.33%;
  float: left;
  color: #858585;
  position: relative; }
  #progressbar li:nth-child(2) {
    text-align: center; }
  #progressbar li:nth-child(3) {
    text-align: right; }
  #progressbar li.active {
    color: #333; }
    #progressbar li.active:after {
      background: #2b3742;
      content: '';
      position: absolute;
      height: 8px;
      width: 100%;
      left: 0;
      bottom: -15px;
      z-index: 1; }

#validerformulaire {
  margin-top: 30px;
  width: 80%;
  float: left; }
  #validerformulaire #cnil {
    background-image: url(../images/cnil_logo-large.png);
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    background-position: center left;
    padding: 0 30px 0 90px; }

button#formulaire-button {
  float: left;
  width: 20%; }
  button#formulaire-button.action-button.valid {
    margin-top: 20px; }
    button#formulaire-button.action-button.valid p {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 0;
      line-height: 1em;
      font-size: 20px; }
      button#formulaire-button.action-button.valid p i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 16px; }

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0; }

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  position: absolute;
  z-index: 101;
  padding: 50px 30px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #addcfa 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #addcfa 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #addcfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#addcfa',GradientType=0 ); }
  .reveal-modal .title {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px; }
    .reveal-modal .title i {
      color: #d60565;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      font-size: 40px;
      line-height: 1em; }

.reveal-modal.small {
  width: 200px;
  margin-left: -140px; }

.reveal-modal.medium {
  width: 400px;
  margin-left: -240px; }

.reveal-modal.large {
  width: 600px;
  margin-left: -340px; }

.reveal-modal.xlarge {
  width: 960px;
  margin-left: -480px; }

.reveal-modal .close-reveal-modal {
  font-size: 30px;
  line-height: .5;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #d60565;
  font-weight: bold;
  cursor: pointer; }

#Modal-tel span {
  display: block;
  font-size: 23px;
  text-align: center;
  font-weight: 800; }
#Modal-tel img {
  display: block;
  margin: 0 auto 20px; }

#Modal-mail #objet-bloc label {
  width: 86px; }
#Modal-mail #objet-bloc input {
  width: 814px; }
#Modal-mail #message-bloc label {
  width: 86px; }
#Modal-mail #message-bloc textarea {
  width: 814px; }

#Modal-rappel #button p {
  text-align: center;
  margin-bottom: 25px; }
  #Modal-rappel #button p a {
    display: inline-block;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    border-radius: 3px;
    width: 50%;
    cursor: pointer; }
    #Modal-rappel #button p a i {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
      margin-right: 15px;
      font-size: 25px; }
#Modal-rappel #immediat {
  display: none; }
  #Modal-rappel #immediat p {
    text-align: center;
    font-size: 18px; }
  #Modal-rappel #immediat form {
    text-align: center; }
  #Modal-rappel #immediat input {
    float: none; }
  #Modal-rappel #immediat input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 15px;
    font-weight: 500;
    min-height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }
  #Modal-rappel #immediat input[type="submit"] {
    padding: 9px 25px;
    border: none;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    color: #fff;
    width: auto;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }

.table-fill,
.tableuser {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  animation: float 5s infinite;
  border: 1px solid #ccc; }
  .table-fill th,
  .tableuser th {
    color: #54c0eb;
    border-right: 1px solid #54c0eb;
    border-bottom: 1px solid #54c0eb;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    vertical-align: middle; }
  .table-fill th:first-child,
  .tableuser th:first-child {
    border-top-left-radius: 3px; }
  .table-fill th:last-child,
  .tableuser th:last-child {
    border-top-right-radius: 3px; }
  .table-fill tr,
  .tableuser tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    font-size: 16px;
    font-weight: normal;
    font-weight: 500; }
  .table-fill tr:first-child,
  .tableuser tr:first-child {
    border-top: none; }
  .table-fill tr:last-child,
  .tableuser tr:last-child {
    border-bottom: none; }
  .table-fill tr:nth-child(odd) td,
  .tableuser tr:nth-child(odd) td {
    background: #f5f5f5; }
  .table-fill tr:last-child td:first-child,
  .tableuser tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  .table-fill tr:last-child td:last-child,
  .tableuser tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }
  .table-fill td,
  .tableuser td {
    background: #FFFFFF;
    padding: 5px 10px;
    color: #2b3742;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
    border-right: 1px solid #C1C3D1; }
  .table-fill td:last-child,
  .tableuser td:last-child {
    border-right: 0px; }
  .table-fill th.text-left,
  .tableuser th.text-left {
    text-align: left; }
  .table-fill th.text-center,
  .tableuser th.text-center {
    text-align: center; }
  .table-fill th.text-right,
  .tableuser th.text-right {
    text-align: right; }
  .table-fill td.text-left,
  .tableuser td.text-left {
    text-align: left; }
  .table-fill td.text-center,
  .tableuser td.text-center {
    text-align: center; }
  .table-fill td.text-right,
  .tableuser td.text-right {
    text-align: right; }

/*-- table --*/
.dataTables_wrapper {
  color: #54c0eb; }
  .dataTables_wrapper .dataTables_filter {
    float: right; }
    .dataTables_wrapper .dataTables_filter label {
      text-transform: uppercase;
      margin-bottom: 10px; }
    .dataTables_wrapper .dataTables_filter input {
      padding: 5px;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
      color: #253138;
      margin-bottom: 10px;
      border: 1px solid #54c0eb; }
  .dataTables_wrapper .dataTables_length {
    float: left; }
    .dataTables_wrapper .dataTables_length select {
      background: #54c0eb;
      color: #fff;
      padding: 5px 10px; }
  .dataTables_wrapper .dataTables_info {
    display: none; }
  .dataTables_wrapper .dataTables_paginate {
    text-align: center; }
    .dataTables_wrapper .dataTables_paginate a {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 15px;
      background: #fff;
      color: #54c0eb;
      border-radius: 3px; }

.alert {
  padding: 7px 15px;
  margin-top: 0;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  display: block;
  width: 100%;
  text-align: center; }
  .alert:hover {
    color: #fff; }

.alert-success {
  background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
  margin-bottom: 5px; }

.prise-en-charge {
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
  margin-top: 5px; }

.alert-danger {
  background: linear-gradient(135deg, #DA2A4A 0%, #FF3F62 100%); }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.datepicker td, .datepicker th {
  padding: 10px; }
  .datepicker td.prev .icon-arrow-left:before, .datepicker th.prev .icon-arrow-left:before {
    font-family: "maison-de-retraite" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\72";
    line-height: 2.5em; }
  .datepicker td.next .icon-arrow-right:before, .datepicker th.next .icon-arrow-right:before {
    font-family: "maison-de-retraite" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\73";
    line-height: 2.5em; }

.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
  margin: 0; }

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em; }

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em; }

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888; }

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000; }

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff; }

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2; }

.datepicker table tr td, .datepicker table tr th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none; }

.datepicker table tr td span {
  background: #eee;
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px; }

.datepicker-months {
  width: 250px; }
  .datepicker-months table {
    width: 100%; }

/*--- ADMIN ---*/
/*-- general --*/
body, html {
  margin: 0 auto; }

body, p {
  line-height: 1.45; }

a, a:focus, a:hover {
  color: #303030;
  text-decoration: none; }

body, ul {
  padding: 0;
  margin: 0; }

html {
  font-size: 100%;
  height: 100%; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: #2b3742;
  background: #fff; }

article, aside, figure, footer, header, nav, section {
  display: block; }

p {
  text-align: left;
  margin: 0 0 15px; }

a {
  outline: 0; }

a img {
  border: none; }

ul {
  list-style: none;
  -webkit-padding-start: 0; }

img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  outline: 0 !important; }

*, *:after, *:before {
  box-sizing: border-box; }

.clear {
  clear: both; }

header {
  width: 220px;
  padding: 15px 0;
  background: #262B33;
  position: fixed;
  left: 0;
  height: 100%; }
  header #logo img {
    width: 165px;
    margin: 15px; }
  header #menu {
    margin-bottom: 7px; }
    header #menu ul li a {
      color: rgba(255, 255, 255, 0.5);
      padding: 10px;
      display: block;
      font-size: 15px;
      border-bottom: 1px solid #3f444c; }
      header #menu ul li a:hover, header #menu ul li a.active {
        background: #d60565;
        color: #fff; }
    header #menu ul li ul li a {
      padding-left: 25px;
      font-size: 13px; }

/*-- content --*/
#admincontent {
  padding: 0px 40px 40px 260px; }
  #admincontent #topheader {
    width: 100%;
    float: left;
    padding: 15px 0; }
    #admincontent #topheader #profil {
      float: right; }
      #admincontent #topheader #profil li {
        display: inline-block;
        position: relative; }
        #admincontent #topheader #profil li a {
          cursor: pointer;
          color: #54c0eb;
          margin-right: 30px;
          display: block;
          position: relative; }
          #admincontent #topheader #profil li a i {
            -ms-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            transform: rotate(270deg);
            display: block;
            position: absolute;
            right: -25px;
            top: 65%;
            margin-top: -10px;
            line-height: 1em; }
          #admincontent #topheader #profil li a:hover {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease; }
        #admincontent #topheader #profil li #dropdown-menu {
          display: none;
          text-align: left;
          padding: 30px;
          width: 340px;
          box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
          max-height: 500px;
          background: #fff;
          position: absolute;
          margin: 10px 0 0;
          top: 100%;
          z-index: 10;
          right: -30px; }
          #admincontent #topheader #profil li #dropdown-menu #avatar-head {
            float: left;
            margin-right: 15px; }
            #admincontent #topheader #profil li #dropdown-menu #avatar-head img {
              width: 75px; }
          #admincontent #topheader #profil li #dropdown-menu .bloc {
            padding-bottom: 15px;
            border-bottom: 1px solid #54c0eb;
            margin-bottom: 15px; }
            #admincontent #topheader #profil li #dropdown-menu .bloc #infos-head p {
              margin-bottom: 2px;
              color: #54c0eb;
              font-size: 12px; }
              #admincontent #topheader #profil li #dropdown-menu .bloc #infos-head p#name-head {
                font-size: 13px; }
              #admincontent #topheader #profil li #dropdown-menu .bloc #infos-head p#email-head {
                color: #54c0eb; }
            #admincontent #topheader #profil li #dropdown-menu .bloc #infos-head a#profil-head {
              margin-top: 5px;
              color: #fff;
              font-size: 10px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: .4px;
              border-radius: 2px;
              width: 113px;
              text-align: center;
              padding: 7px 10px;
              display: inline-block; }
          #admincontent #topheader #profil li #dropdown-menu #logout {
            text-transform: uppercase;
            color: #54c0eb;
            font-size: 14px;
            font-weight: 600; }
  #admincontent #admin-home {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; }
    #admincontent #admin-home #stats .bloc {
      display: table;
      padding: 20px;
      background: #54c0eb;
      border-radius: 3px;
      height: 105px;
      width: 100%; }
      #admincontent #admin-home #stats .bloc i, #admincontent #admin-home #stats .bloc p {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-size: 16px; }
      #admincontent #admin-home #stats .bloc i {
        width: 15%; }
      #admincontent #admin-home #stats .bloc p {
        width: 85%;
        text-align: right; }
        #admincontent #admin-home #stats .bloc p span {
          display: block;
          font-size: 20px;
          font-weight: 700; }
      #admincontent #admin-home #stats .bloc i {
        font-size: 35px; }
  #admincontent #list-demandeurs .editing {
    margin-bottom: 5px; }
  #admincontent #list-users #createuser {
    margin: 30px 0;
    text-align: right;
    float: right;
    width: 100%; }
    #admincontent #list-users #createuser a {
      background: #d60565;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700; }
      #admincontent #list-users #createuser a:hover {
        background: #54c0eb; }
  #admincontent #list-users .tableuser td select {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px; }

#admin-onglet {
  background: #54c0eb;
  color: #fff;
  width: 100%; }
  #admin-onglet .col-10 {
    font-size: 14px;
    text-align: center;
    width: 9.090909090909091%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 10px; }
    #admin-onglet .col-10 a {
      color: #fff;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: block;
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
    #admin-onglet .col-10:hover, #admin-onglet .col-10.actif {
      background: #c01992;
      background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: linear-gradient(to right, #c01992 1%, #d60564 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 ); }

#bloc-statut {
  float: left;
  width: 100%;
  padding: 30px;
  background: #262B33; }
  #bloc-statut .box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px; }
    #bloc-statut .box p {
      margin-bottom: 0;
      color: #fff; }
      #bloc-statut .box p span {
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700; }
  #bloc-statut select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px; }
    #bloc-statut select:focus {
      border: 1px solid #d60565; }
  #bloc-statut button {
    padding: 10px 25px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    color: #fff;
    width: auto;
    text-transform: uppercase; }
    #bloc-statut button:hover {
      background: #54c0eb; }

#form {
  padding: 40px;
  border: 1px solid #ccc;
  float: left;
  margin-bottom: 20px;
  width: 100%; }
  #form .title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: #54c0eb; }
  #form .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden; }
  #form .switch-field label {
    float: left; }
  #form .switch-field label {
    display: inline-block;
    width: 60px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  #form .switch-field label:hover {
    cursor: pointer; }
  #form .switch-field input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #form .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px; }
  #form .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0; }
  #form .title-small {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px; }
  #form .subtitle {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 0 0 5px 0; }
  #form .infos {
    margin-bottom: 0px; }
  #form .condition {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 5px 0; }
  #form .box {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%; }
    #form .box .small-title {
      font-size: 17px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px; }
    #form .box .block {
      margin-bottom: 20px; }
  #form .radio li {
    display: inline-block;
    margin-right: 20px; }
  #form .inputeffect {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; }
  #form input[type="checkbox"], #form input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px; }
  #form label {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block; }
  #form #commentaire-list {
    margin-bottom: 40px;
    position: relative; }
    #form #commentaire-list .commentaire {
      margin-bottom: 20px; }
    #form #commentaire-list button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 14px;
      border: none;
      font-size: 25px;
      border-radius: 3px;
      background: #c01992;
      background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: linear-gradient(to right, #c01992 1%, #d60564 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
      color: #fff;
      line-height: 35px;
      width: 13%; }
      #form #commentaire-list button:hover {
        background: #54c0eb; }
    #form #commentaire-list input {
      width: 85%; }

.buttons {
  text-align: right; }
  .buttons button {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
    width: auto;
    border-radius: 3px; }
  .buttons a {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    display: inline-block;
    background: linear-gradient(135deg, #3799DA 0%, #2AD1DA 100%);
    border-radius: 3px; }

#login {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/login-bg.jpg); }
  #login #loginform {
    margin-top: 120px;
    width: 490px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    margin: 120px auto 20px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.32); }
    #login #loginform #form-login form .form-group {
      margin-bottom: 20px; }
      #login #loginform #form-login form .form-group label {
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #54c0eb; }
      #login #loginform #form-login form .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc; }
    #login #loginform #form-login form #logo-login {
      display: block;
      text-align: center;
      margin-bottom: 30px; }
    #login #loginform #form-login form #rememberme label {
      font-size: 16px;
      text-transform: initial;
      color: #333; }
      #login #loginform #form-login form #rememberme label input {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin-right: 10px;
        margin-top: -4px; }
    #login #loginform #form-login form #mdp-forget {
      text-align: center; }
      #login #loginform #form-login form #mdp-forget a {
        font-weight: 600;
        color: #54c0eb; }
    #login #loginform #form-login .submit {
      text-align: center; }
      #login #loginform #form-login .submit button {
        background: #d60565;
        padding: 10px 25px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        border: none; }
        #login #loginform #form-login .submit button:hover {
          background: #54c0eb; }
    #login #loginform #form-login .help-block {
      font-size: 13px;
      color: red; }

/*-- ajout utilisateurs --*/
.create-users {
  margin-top: 30px; }

/*-- edit utilisateurs --*/
.edit-users #backuser {
  margin: 0px 0px 30px 0;
  text-align: left;
  float: left;
  width: 100%; }
  .edit-users #backuser a {
    background: #d60565;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700; }
    .edit-users #backuser a:hover {
      background: #54c0eb; }
.edit-users .buttons {
  margin-top: 20px; }
.edit-users #regions-list {
  margin: 20px 0; }
  .edit-users #regions-list ul li {
    position: relative;
    display: inline-block;
    margin-bottom: 15px; }
    .edit-users #regions-list ul li p {
      display: block;
      margin-right: 0;
      padding: 10px 25px;
      background: #262B33;
      color: #fff;
      margin-bottom: 0; }

/*-- commentaires --*/
#commentaire-bloc .comments {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px; }
  #commentaire-bloc .comments p {
    margin-bottom: 0px; }
    #commentaire-bloc .comments p.comment-date {
      font-style: italic;
      font-size: 12px;
      margin-top: 15px;
      text-align: right; }

/*--- faq --*/
#faq {
  /*-- suggestion --*/ }
  #faq #title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #000;
    padding-bottom: 5px; }
  #faq #createfaq {
    margin-bottom: 15px;
    text-align: right; }
    #faq #createfaq a {
      background: #d60565;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700; }
  #faq .categorie-name {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px; }
  #faq .categories {
    margin-bottom: 30px; }
    #faq .categories .faq-box {
      background: #f9f9f9;
      padding: 15px;
      margin-bottom: 15px;
      cursor: pointer; }
      #faq .categories .faq-box:hover, #faq .categories .faq-box.opened {
        background: #d60565;
        color: #fff; }
        #faq .categories .faq-box:hover p, #faq .categories .faq-box.opened p {
          color: #fff; }
      #faq .categories .faq-box .questions {
        font-weight: 700;
        position: relative; }
        #faq .categories .faq-box .questions button {
          position: absolute;
          width: auto;
          right: 0;
          top: -5px; }
      #faq .categories .faq-box .reponses {
        display: none; }
      #faq .categories .faq-box p {
        margin-bottom: 0; }
  #faq #allquestion a {
    background: #d60565;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700; }
  #faq #faq-search {
    margin-bottom: 20px; }
    #faq #faq-search input, #faq #faq-search .submit {
      display: inline-block;
      vertical-align: middle; }
    #faq #faq-search input {
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 80%; }
    #faq #faq-search .submit button {
      padding: 10px 15px;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      display: inline-block;
      text-align: center;
      background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
      width: auto;
      border-radius: 3px; }
  #faq #categories-faq select {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; }
  #faq #questionsuggere {
    margin-top: 50px; }
    #faq #questionsuggere__title {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 900;
      border-bottom: 1px solid #000;
      padding-bottom: 5px; }

/*-- ehpad --*/
#list-ehpad #title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: 1px solid #000;
  padding-bottom: 5px; }
#list-ehpad #ehpad-search {
  margin-bottom: 20px; }
  #list-ehpad #ehpad-search input, #list-ehpad #ehpad-search .submit {
    display: inline-block;
    vertical-align: middle; }
  #list-ehpad #ehpad-search input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 30px;
    width: 250px; }
  #list-ehpad #ehpad-search .submit button {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
    width: auto;
    border-radius: 3px; }

/*--- show ehpad --*/
#form #relancebloc {
  margin-top: 40px;
  background: #54c0eb; }
  #form #relancebloc .subtitle {
    color: #fff; }
  #form #relancebloc #commentaire-bloc {
    margin-top: 30px; }
    #form #relancebloc #commentaire-bloc .etat,
    #form #relancebloc #commentaire-bloc .commentaire {
      margin-bottom: 15px; }
    #form #relancebloc #commentaire-bloc textarea {
      height: 65px; }
    #form #relancebloc #commentaire-bloc label {
      color: #fff;
      margin-left: 0;
      margin-bottom: 3px; }

/*-- pagination --*/
.paginate {
  margin: 20px 0; }
  .paginate ul li {
    display: inline-block; }
    .paginate ul li a, .paginate ul li span {
      display: block;
      padding: 10px 15px;
      font-size: 13px;
      background: #54c0eb;
      color: #fff; }
    .paginate ul li a:hover {
      background: #d60565; }

/*--- secteurs champs ---*/
#secteurs input {
  margin-bottom: 5px; }

/*--- Creation fiche ---*/
.create-fiche#form .error .errortext {
  color: red;
  font-size: 12px; }
.create-fiche#form .error .inputeffect {
  border: 1px solid red; }
.create-fiche #secteur-bloc #secteur-list {
  position: relative;
  width: 100%;
  float: right; }
  .create-fiche #secteur-bloc #secteur-list .r-group {
    position: relative; }
    .create-fiche #secteur-bloc #secteur-list .r-group button {
      text-align: right;
      color: red;
      display: block;
      width: 100%;
      font-size: 14px;
      float: left; }
  .create-fiche #secteur-bloc #secteur-list select {
    width: 100%; }
  .create-fiche #secteur-bloc #secteur-list button {
    width: auto;
    background: none;
    border: none;
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px; }
    .create-fiche #secteur-bloc #secteur-list button span {
      padding-bottom: 3px;
      border-bottom: 1px solid #333; }
    .create-fiche #secteur-bloc #secteur-list button:hover {
      color: #d60565; }
  .create-fiche #secteur-bloc #secteur-list .proposition {
    position: relative;
    margin-bottom: 5px; }
  .create-fiche #secteur-bloc #secteur-list #other-proposition {
    display: none;
    float: left;
    width: 100%; }
  .create-fiche #secteur-bloc #secteur-list .list-ville {
    position: absolute;
    max-height: 200px;
    overflow: auto;
    background: #fff;
    top: 47px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    display: none;
    z-index: 101; }
    .create-fiche #secteur-bloc #secteur-list .list-ville li {
      font-size: 12px;
      cursor: pointer;
      font-weight: 600; }
      .create-fiche #secteur-bloc #secteur-list .list-ville li:hover {
        color: #d60565; }
.create-fiche #secteur-bloc input {
  width: 100%; }

/*--- maison de retraite lie au demande --*/
#listemaisonderetraite {
  margin: 0 0 50px 0; }
  #listemaisonderetraite td .alert {
    margin-bottom: 0; }
  #listemaisonderetraite .choisie td {
    background: #262B33;
    color: #fff; }
    #listemaisonderetraite .choisie td .alert {
      background: none; }

/*-- responsive --*/
@media only screen and (max-width: 1400px) {
  /*--- onglet ---*/
  #admin-onglet .col-10 {
    width: 50%;
    border-bottom: 1px solid #63abc7;
    border-right: 1px solid #63abc7;
    float: left; }

  #form .col-md-offset-1 {
    width: 100%;
    margin: 0; }

  /*--- liste --*/
  .dataTables_wrapper {
    overflow: auto; } }

/*# sourceMappingURL=admin.css.map */
