@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 980px; } }
@media (min-width: 1170px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -20px;
  margin-right: -20px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs, td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm, td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md, td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg, td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print, td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/*form styles*/
#msform {
  position: relative;
  padding: 50px; }
  #msform .errortext {
    display: none; }
  #msform .error input {
    border: 1px solid red; }
  #msform .error .errortext {
    color: red;
    font-size: 14px;
    font-style: italic;
    position: relative;
    top: 0;
    right: 0;
    display: block;
    margin-bottom: 0; }
  #msform label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 45%;
    padding-top: 8px; }
  #msform select {
    -webkit-appearance: none;
    -moz-appearance: none; }
  #msform .select-custom {
    float: left;
    width: 55%;
    min-height: 44px;
    border-radius: 3px;
    position: relative;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0eeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eeee',GradientType=0 );
    padding: 5px;
    position: relative;
    border: 1px solid #fff !important; }
    #msform .select-custom select {
      position: absolute;
      height: 100%;
      left: 0;
      width: 100%;
      background: transparent;
      top: 0;
      border: none;
      padding: 10px;
      z-index: 10;
      background: transparent; }
    #msform .select-custom:before {
      border: none;
      width: 100%;
      height: 17px;
      width: 19px;
      background: url(../images/arrow-down.png);
      position: absolute;
      right: 16px;
      top: 15px;
      content: ''; }
    #msform .select-custom:after {
      content: "";
      height: 43px;
      position: absolute;
      width: 2px;
      background: #fff;
      right: 50px;
      z-index: 10;
      display: block;
      top: 0; }
  #msform #remarque-bloc {
    display: none; }
  #msform #secteur-bloc #secteur-list {
    position: relative;
    width: 55%;
    float: right; }
    #msform #secteur-bloc #secteur-list .r-group {
      position: relative; }
      #msform #secteur-bloc #secteur-list .r-group button {
        text-align: right;
        color: red;
        display: block;
        width: 100%;
        margin-top: -10px;
        font-size: 14px;
        float: left; }
    #msform #secteur-bloc #secteur-list select {
      width: 100%; }
    #msform #secteur-bloc #secteur-list button {
      width: auto;
      background: none;
      border: none;
      display: inline-block;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 10px; }
      #msform #secteur-bloc #secteur-list button span {
        padding-bottom: 3px;
        border-bottom: 1px solid #333; }
      #msform #secteur-bloc #secteur-list button:hover {
        color: #d60565; }
    #msform #secteur-bloc #secteur-list .proposition {
      position: relative; }
    #msform #secteur-bloc #secteur-list #other-proposition {
      display: none;
      float: left;
      width: 100%; }
    #msform #secteur-bloc #secteur-list .list-ville {
      position: absolute;
      max-height: 200px;
      overflow: auto;
      background: #fff;
      top: 47px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 15px;
      display: none;
      z-index: 101; }
      #msform #secteur-bloc #secteur-list .list-ville li {
        font-size: 12px;
        cursor: pointer;
        font-weight: 600; }
        #msform #secteur-bloc #secteur-list .list-ville li:hover {
          color: #d60565; }
  #msform #secteur-bloc input {
    width: 100%; }
  #msform #periode-bloc {
    display: table;
    margin-top: 5px; }
    #msform #periode-bloc ul {
      width: 40%;
      text-align: left;
      float: right; }
    #msform #periode-bloc li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
    #msform #periode-bloc ul li input[type=radio] {
      position: absolute;
      visibility: hidden; }
    #msform #periode-bloc label {
      padding-right: 15px;
      width: 60%;
      padding-top: 17px;
      text-align: right; }
      #msform #periode-bloc label .errortext {
        width: 100%;
        font-weight: 400;
        right: 0;
        top: initial;
        bottom: 0;
        position: relative;
        text-align: right; }
    #msform #periode-bloc ul li label {
      text-align: left;
      position: relative;
      font-weight: 500;
      width: 100%;
      font-size: 14px;
      padding: 0 0 0 25px;
      margin: 0;
      height: auto;
      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
      font-style: italic; }
    #msform #periode-bloc ul li:hover label {
      color: #54c0eb; }
    #msform #periode-bloc ul li .check {
      display: block;
      position: absolute;
      height: 15px;
      width: 15px;
      top: 50%;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
      margin-top: -8px;
      -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.26);
      background: #fff;
      border-radius: 3px; }
    #msform #periode-bloc ul li:hover .check {
      -webkit-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26);
      box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.26); }
    #msform #periode-bloc ul li .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 3px;
      height: 15px;
      width: 14px;
      top: 0px;
      left: 0px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
    #msform #periode-bloc input[type=radio]:checked ~ .check::before {
      background: #d60565; }
    #msform #periode-bloc input[type=radio]:checked ~ label {
      color: #333; }
  #msform #age-bloc label {
    width: 60%;
    text-align: right;
    padding-right: 15px; }
  #msform #age-bloc input {
    float: right;
    width: 40%; }
    #msform #age-bloc input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield; }
    #msform #age-bloc input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield; }
  #msform #cnil {
    font-size: 13px;
    font-style: italic; }
  #msform .content {
    text-align: center;
    float: left;
    width: 100%; }
    #msform .content #confirm-msg {
      font-size: 15px;
      display: inline-block;
      background: #c01992;
      background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: linear-gradient(to right, #c01992 1%, #d60564 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
      color: #fff;
      padding: 10px 25px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600; }
    #msform .content #rappel-msg {
      text-align: center;
      color: #d60565;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 35px; }
      #msform .content #rappel-msg span {
        display: block; }
  #msform .confirmation-phone {
    text-align: center; }
    #msform .confirmation-phone #information-rappel {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px; }
      #msform .confirmation-phone #information-rappel p {
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-top: 10px; }
    #msform .confirmation-phone #numero-form {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px; }
  #msform #etape-two label {
    width: 30%; }
  #msform #etape-two input {
    width: 70%; }
  #msform #etape-two .error .errortext {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    text-align: right;
    margin-bottom: 15px;
    margin-top: -9px; }
  #msform #etape-two #civilite-bloc input {
    width: auto;
    min-height: auto;
    vertical-align: middle;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: none;
    margin-left: 5px;
    margin-top: 4px; }
  #msform #etape-two #civilite-bloc.error .errortext {
    text-align: left;
    display: inline-block;
    float: none;
    width: auto; }
  #msform #etape-two #civilite-bloc ul li {
    display: inline-block;
    vertical-align: middle; }
    #msform #etape-two #civilite-bloc ul li:first-child {
      margin-right: 15px; }
    #msform #etape-two #civilite-bloc ul li span {
      width: auto;
      display: inline-block;
      vertical-align: middle; }

#msform fieldset {
  border: 0 none;
  margin: 0;
  padding: 0; }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#msform input, #msform textarea {
  padding: 10px;
  border: 1px solid #ccc;
  float: right;
  width: 55%;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 15px;
  font-weight: 500;
  min-height: 45px; }
  #msform input:focus, #msform textarea:focus {
    border: 1px solid #d60565; }

/*buttons*/
#msform .action-button {
  padding: 14px 25px;
  border: none;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background: #c01992;
  background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
  background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
  background: linear-gradient(to right, #c01992 1%, #d60564 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
  color: #fff;
  width: auto;
  text-transform: uppercase; }
  #msform .action-button.next {
    float: right;
    margin-top: 30px; }
    #msform .action-button.next p {
      margin-bottom: 0;
      line-height: 1em;
      font-size: 20px; }
    #msform .action-button.next i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      font-size: 16px; }
  #msform .action-button.valid {
    margin-top: 30px;
    float: right; }
  #msform .action-button:hover {
    background: #54c0eb; }

/*progressbar*/
#progressbar {
  margin-bottom: 45px;
  counter-reset: step;
  position: relative;
  float: left;
  width: 100%; }
  #progressbar:after {
    background: #d1dbe3;
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    left: 0;
    bottom: -15px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }

#progressbar li {
  list-style-type: none;
  font-size: 16px;
  width: 33.33%;
  float: left;
  color: #858585;
  position: relative; }
  #progressbar li:nth-child(2) {
    text-align: center; }
  #progressbar li:nth-child(3) {
    text-align: right; }
  #progressbar li.active {
    color: #333; }
    #progressbar li.active:after {
      background: #2b3742;
      content: '';
      position: absolute;
      height: 8px;
      width: 100%;
      left: 0;
      bottom: -15px;
      z-index: 1; }

#validerformulaire {
  margin-top: 30px;
  width: 80%;
  float: left; }
  #validerformulaire #cnil {
    background-image: url(../images/cnil_logo-large.png);
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    background-position: center left;
    padding: 0 30px 0 90px; }

button#formulaire-button {
  float: left;
  width: 20%; }
  button#formulaire-button.action-button.valid {
    margin-top: 20px; }
    button#formulaire-button.action-button.valid p {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 0;
      line-height: 1em;
      font-size: 20px; }
      button#formulaire-button.action-button.valid p i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 16px; }

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0; }

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  position: absolute;
  z-index: 101;
  padding: 50px 30px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #addcfa 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #addcfa 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #addcfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#addcfa',GradientType=0 ); }
  .reveal-modal .title {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px; }
    .reveal-modal .title i {
      color: #d60565;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      font-size: 40px;
      line-height: 1em; }

.reveal-modal.small {
  width: 200px;
  margin-left: -140px; }

.reveal-modal.medium {
  width: 400px;
  margin-left: -240px; }

.reveal-modal.large {
  width: 600px;
  margin-left: -340px; }

.reveal-modal.xlarge {
  width: 960px;
  margin-left: -480px; }

.reveal-modal .close-reveal-modal {
  font-size: 30px;
  line-height: .5;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #d60565;
  font-weight: bold;
  cursor: pointer; }

#Modal-tel span {
  display: block;
  font-size: 23px;
  text-align: center;
  font-weight: 800; }
#Modal-tel img {
  display: block;
  margin: 0 auto 20px; }

#Modal-mail #objet-bloc label {
  width: 86px; }
#Modal-mail #objet-bloc input {
  width: 814px; }
#Modal-mail #message-bloc label {
  width: 86px; }
#Modal-mail #message-bloc textarea {
  width: 814px; }

#Modal-rappel #button p {
  text-align: center;
  margin-bottom: 25px; }
  #Modal-rappel #button p a {
    display: inline-block;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    border-radius: 3px;
    width: 50%;
    cursor: pointer; }
    #Modal-rappel #button p a i {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
      margin-right: 15px;
      font-size: 25px; }
#Modal-rappel #immediat {
  display: none; }
  #Modal-rappel #immediat p {
    text-align: center;
    font-size: 18px; }
  #Modal-rappel #immediat form {
    text-align: center; }
  #Modal-rappel #immediat input {
    float: none; }
  #Modal-rappel #immediat input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 15px;
    font-weight: 500;
    min-height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }
  #Modal-rappel #immediat input[type="submit"] {
    padding: 9px 25px;
    border: none;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    color: #fff;
    width: auto;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }

.alert {
  padding: 7px 15px;
  margin-top: 0;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  display: block;
  width: 100%;
  text-align: center; }
  .alert:hover {
    color: #fff; }

.alert-success {
  background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
  margin-bottom: 5px; }

.prise-en-charge {
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
  margin-top: 5px; }

.alert-danger {
  background: linear-gradient(135deg, #DA2A4A 0%, #FF3F62 100%); }

/*-- general --*/
.clear {
  clear: both; }

body, html {
  margin: 0 auto; }

body, p {
  line-height: 1.45; }

a, a:focus, a:hover {
  color: #303030;
  text-decoration: none; }

body, ul {
  padding: 0;
  margin: 0; }

html {
  font-size: 100%; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -0.6px;
  overflow-x: hidden;
  color: #2b3742;
  background: #f3f7f3; }

article, aside, figure, footer, header, nav, section {
  display: block; }

p {
  text-align: left;
  margin: 0 0 15px; }

a {
  outline: 0; }

a img {
  border: none; }

ul {
  list-style: none;
  -webkit-padding-start: 0; }

img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  outline: 0 !important; }

*, *:after, *:before {
  box-sizing: border-box; }

.big-title {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }

#main {
  padding-top: 151px; }

/*--- footer ---*/
footer {
  background: #324a5e;
  float: left;
  width: 100%;
  padding: 40px 0; }
  footer #menu-footer ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px; }
  footer #docs-footer {
    text-align: right; }
    footer #docs-footer p {
      color: #fff;
      text-align: right;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
    footer #docs-footer span {
      color: #fff;
      font-size: 13px;
      margin-top: 25px;
      display: block; }
    footer #docs-footer ul li a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      display: block; }
      footer #docs-footer ul li a i {
        color: #54c0eb;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; }

/*--- header ---*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f3f7f3;
  z-index: 100; }
  header #topheader {
    padding: 15px 0; }
    header #topheader #button-mobile {
      display: none; }
    header #topheader a {
      display: block; }
      header #topheader a#logo {
        float: left; }
      header #topheader a#callback {
        float: right; }
        header #topheader a#callback img {
          max-width: 300px; }
    header #topheader #free-service {
      color: #fff;
      font-size: 25px;
      font-style: italic;
      background: #54c0eb;
      background: -moz-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
      background: -webkit-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
      background: linear-gradient(to right, #7cdaea 0%, #54c0eb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c0eb', endColorstr='#1288b7',GradientType=1 );
      position: absolute;
      width: auto;
      display: inline-block;
      padding: 6px 20px;
      top: 0;
      left: 50%;
      margin-bottom: 0;
      margin-left: -95px; }
  header #menu {
    margin-bottom: 7px; }
    header #menu ul {
      margin-left: -4px;
      margin-right: -4px; }
      header #menu ul li {
        width: 20%;
        float: left;
        padding: 0 4px; }
        header #menu ul li a {
          background: #fff;
          padding: 10px;
          display: block;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          color: #30475a;
          line-height: 24px; }
          header #menu ul li a:hover {
            color: #fff;
            background: #d60565; }
        header #menu ul li#demande-urgent {
          width: 40%; }
          header #menu ul li#demande-urgent a {
            background: #c01992;
            background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
            background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
            background: linear-gradient(to right, #c01992 1%, #d60564 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
            padding: 5px 10px;
            color: #fff;
            line-height: 17px;
            -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
            text-align: center; }
            header #menu ul li#demande-urgent a p {
              margin-bottom: 0;
              line-height: 17px;
              text-align: center;
              display: inline-block;
              position: relative; }
              header #menu ul li#demande-urgent a p:after {
                content: '';
                width: 30px;
                height: 30px;
                background-image: url(../images/notifcations.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                left: -45px; }
            header #menu ul li#demande-urgent a span {
              display: block;
              text-transform: initial;
              font-weight: 400; }
            header #menu ul li#demande-urgent a:hover {
              background: #54c0eb; }

/*-- Home --*/
#home .bandeau p {
  text-transform: initial;
  font-style: italic;
  padding: 3px 0; }
#home #formulaire {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 40px 0;
  background-image: url("../images/formulaire.jpg"); }
  #home #formulaire #form {
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    z-index: 1; }
    #home #formulaire #form:after {
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #addcfa 100%);
      background: -webkit-linear-gradient(top, #ffffff 0%, #addcfa 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #addcfa 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#addcfa',GradientType=0 );
      opacity: 0.8;
      position: absolute;
      z-index: -1; }
    #home #formulaire #form .title {
      position: relative;
      padding: 10px  20px;
      background: #fff;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      text-align: center; }
      #home #formulaire #form .title div {
        display: inline-block;
        position: relative; }
        #home #formulaire #form .title div i {
          position: absolute;
          right: 103%;
          font-size: 55px; }
        #home #formulaire #form .title div p {
          text-align: center;
          color: #d60565;
          font-size: 18px;
          margin-bottom: 0; }
          #home #formulaire #form .title div p span {
            text-transform: uppercase;
            font-size: 25px;
            color: #324a5e;
            font-weight: 600;
            display: block; }
#home #informations-call {
  background: #54c0eb;
  background: -moz-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
  background: -webkit-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
  background: linear-gradient(to right, #7cdaea 0%, #54c0eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c0eb', endColorstr='#1288b7',GradientType=1 );
  padding: 50px 0;
  float: left;
  width: 100%; }
  #home #informations-call .bloc p {
    text-align: center;
    color: #fff; }
    #home #informations-call .bloc p i {
      display: block;
      font-size: 70px; }
    #home #informations-call .bloc p span {
      display: block;
      font-size: 20px;
      font-style: italic; }
    #home #informations-call .bloc p:hover {
      color: #2b3742; }
#home #avis-commentaire {
  float: left;
  width: 100%;
  padding: 40px 0;
  background: #fff; }
  #home #avis-commentaire .col-md-4:first-child .box:after {
    display: none; }
  #home #avis-commentaire .col-xs-12:first-child .box:after {
    display: none; }
  #home #avis-commentaire .box {
    position: relative; }
    #home #avis-commentaire .box .photo, #home #avis-commentaire .box .votes {
      display: table-cell;
      vertical-align: middle; }
    #home #avis-commentaire .box:after {
      width: 1px;
      height: 100%;
      content: '';
      position: absolute;
      border-left: 1px dashed #acacac;
      top: 0;
      left: -20px; }
    #home #avis-commentaire .box .photo {
      width: 20%; }
      #home #avis-commentaire .box .photo img {
        max-width: 100px; }
    #home #avis-commentaire .box .votes {
      width: 50%;
      text-align: right;
      padding-left: 30px; }
      #home #avis-commentaire .box .votes ul li {
        font-size: 30px;
        display: inline-block;
        margin: 0 2px;
        color: #faca49; }
    #home #avis-commentaire .box p {
      margin-top: 20px;
      text-align: justify;
      min-height: 92px;
      font-style: italic; }
    #home #avis-commentaire .box .author {
      text-align: right;
      display: block;
      font-weight: 600; }
#home #contenu {
  float: left;
  width: 100%;
  padding: 40px 0; }
  #home #contenu h2 {
    color: #54c0eb;
    font-style: italic; }
#home #reassurance {
  background: #fff;
  float: left;
  width: 100%;
  padding: 40px 0; }
  #home #reassurance p {
    text-align: center;
    font-style: italic;
    font-size: 20px; }
  #home #reassurance i {
    font-size: 70px;
    display: block;
    text-align: center;
    color: #54c0eb; }

/*-- PAGES --*/
.bandeau {
  background: #54c0eb;
  background: -moz-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
  background: -webkit-linear-gradient(left, #7cdaea 0%, #54c0eb 100%);
  background: linear-gradient(to right, #7cdaea 0%, #54c0eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c0eb', endColorstr='#1288b7',GradientType=1 ); }
  .bandeau p {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 500; }

/*-- Qui sommes nous --*/
#quisommesnous #background {
  height: 450px;
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/notre-mission.jpg); }
#quisommesnous #content {
  float: left;
  width: 100%;
  background: #fff;
  padding: 15px 0; }
  #quisommesnous #content p {
    margin-bottom: 0; }
#quisommesnous #list-mission {
  float: left;
  width: 100%; }
  #quisommesnous #list-mission .bloc {
    background: #fff;
    padding: 20px 0; }
    #quisommesnous #list-mission .bloc:nth-child(2n+1) {
      background: #f5f9f5; }
    #quisommesnous #list-mission .bloc span {
      display: block;
      color: #1e93c1;
      font-size: 21px;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 10px; }
      #quisommesnous #list-mission .bloc span i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        font-size: 35px;
        color: #d60565; }

/*-- NOTRE MISSION --*/
#mission #background {
  height: 450px;
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/qui-sommes-nous.jpg); }
#mission #content {
  float: left;
  width: 100%;
  background: #fff;
  padding: 50px 0; }
  #mission #content p {
    margin-bottom: 0; }

/*-- CONTACT --*/
#bloc-contact {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 30px; }
  #bloc-contact #list-bloc .row {
    margin-left: -10px;
    margin-right: -10px; }
  #bloc-contact #list-bloc .col-sm-6 {
    padding: 0 10px; }
  #bloc-contact .box {
    background: #54c0eb;
    padding: 30px;
    margin-bottom: 20px; }
    #bloc-contact .box p {
      text-align: center;
      color: #fff;
      margin-bottom: 0; }
      #bloc-contact .box p i {
        display: block;
        text-align: center;
        font-size: 70px;
        line-height: 1em;
        margin-bottom: 20px; }
      #bloc-contact .box p span {
        display: block;
        font-size: 20px;
        font-style: italic; }

/*--- modal ---*/
.form label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  width: 20%;
  float: left; }
.form .errortext {
  display: none; }
.form .error .errortext {
  color: red;
  font-size: 14px;
  font-style: italic;
  position: relative;
  top: 0;
  left: 86px;
  display: block;
  float: left;
  margin-top: -7px; }
.form input,
.form textarea {
  float: left;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px; }
.form textarea {
  height: 150px; }
.form .buttons {
  text-align: right;
  margin-top: 20px; }
  .form .buttons #requiredfields {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-left: 86px; }
  .form .buttons button {
    padding: 10px 25px;
    border: none;
    font-weight: 700;
    border-radius: 3px;
    background: #c01992;
    background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
    background: linear-gradient(to right, #c01992 1%, #d60564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
    color: #fff;
    width: auto;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 20px; }
    .form .buttons button:hover {
      background: #54c0eb; }

/*-- PAGES --*/
.page {
  padding: 50px 0;
  float: left;
  width: 100%; }
  .page p {
    margin-bottom: 10px; }

@media only screen and (max-width: 1200px) {
  /*-- home --*/
  /*-etape1--*/
  #msform #lien-bloc label {
    padding-top: 0; }
  #msform #periode-bloc label {
    width: 58%; }
  #msform #periode-bloc ul {
    width: 42%; }

  /*-- temoignages --*/
  #home #avis-commentaire .box .votes ul li {
    font-size: 20px; }

  /*--- modal ---*/
  .reveal-modal.xlarge {
    width: 900px;
    margin-left: -450px;
    left: 50%; }
    .reveal-modal.xlarge#Modal-mail #objet-bloc label,
    .reveal-modal.xlarge#Modal-mail #message-bloc label {
      width: 80px; }
    .reveal-modal.xlarge#Modal-mail #objet-bloc input,
    .reveal-modal.xlarge#Modal-mail #objet-bloc textarea,
    .reveal-modal.xlarge#Modal-mail #message-bloc input,
    .reveal-modal.xlarge#Modal-mail #message-bloc textarea {
      width: 760px; } }
@media only screen and (max-width: 992px) {
  .container {
    width: 100%; }

  .big-title {
    font-size: 20px; }

  header #topheader #free-service {
    display: none; }
  header #topheader #logo img {
    width: 150px; }
  header #menu ul li {
    width: 25%; }
    header #menu ul li#demande-urgent {
      width: 25%; }
    header #menu ul li a {
      font-size: 12px; }

  /*--- HOME ---*/
  #home #msform {
    padding: 30px; }
    #home #msform label {
      padding-right: 15px; }
    #home #msform #secteur-bloc label {
      padding-top: 0; }
  #home #formulaire #form .title div p span {
    font-size: 19px; }
  #home #informations-call .bloc p span {
    font-size: 15px; }
  #home #avis-commentaire .box .votes ul li {
    font-size: 15px; }
  #home #avis-commentaire .box .photo img {
    max-width: 75px; }

  /*--- modal ---*/
  .reveal-modal.xlarge {
    width: 96%;
    left: 0%;
    margin: 0 2%;
    padding: 20px; }
    .reveal-modal.xlarge .close-reveal-modal {
      top: -40px;
      right: 0;
      color: #fff; }
    .reveal-modal.xlarge .title {
      font-size: 19px;
      margin-bottom: 40px;
      line-height: 10px; }
    .reveal-modal.xlarge label {
      width: 100%; }
    .reveal-modal.xlarge input {
      width: 100%; }
    .reveal-modal.xlarge#Modal-mail #objet-bloc label,
    .reveal-modal.xlarge#Modal-mail #message-bloc label {
      width: 100%; }
    .reveal-modal.xlarge#Modal-mail #objet-bloc input,
    .reveal-modal.xlarge#Modal-mail #objet-bloc textarea,
    .reveal-modal.xlarge#Modal-mail #message-bloc input,
    .reveal-modal.xlarge#Modal-mail #message-bloc textarea {
      width: 100%; }
    .reveal-modal.xlarge#Modal-tel span {
      font-size: 18px; }
    .reveal-modal.xlarge#Modal-rappel #button p a {
      width: 100%; }

  .form .buttons #requiredfields {
    margin-left: 0; } }
@media only screen and (max-width: 768px) {
  .container {
    width: 100%; }

  .big-title {
    font-size: 18px; }

  footer {
    padding: 20px 0; }
    footer #menu-footer ul li a {
      font-size: 15px; }
    footer #docs-footer {
      text-align: left;
      margin-top: 30px; }
      footer #docs-footer p {
        text-align: left;
        font-size: 13px; }

  header #topheader #button-mobile {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 15px; }
  header #topheader #logo img {
    width: 150px; }
  header #topheader a#callback {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  header #menu {
    display: none; }
    header #menu ul li {
      width: 100%; }
      header #menu ul li#demande-urgent {
        width: 100%; }
      header #menu ul li a {
        font-size: 12px; }

  /*--- HOME ---*/
  #home .bandeau p {
    font-size: 20px; }
  #home #msform {
    padding: 15px; }
    #home #msform label {
      display: block;
      width: 100%;
      text-align: left;
      padding-top: 0;
      margin-bottom: 3px; }
    #home #msform input, #home #msform select, #home #msform ul {
      width: 100%; }
    #home #msform ul {
      margin-bottom: 20px; }
    #home #msform #secteur-bloc #secteur-list {
      width: 100%; }
      #home #msform #secteur-bloc #secteur-list input {
        width: 100%; }
      #home #msform #secteur-bloc #secteur-list button {
        width: 100%; }
    #home #msform .error .errortext {
      position: relative;
      right: 0;
      top: 0; }
    #home #msform .content #rappel-msg {
      font-size: 16px;
      margin-bottom: 15px; }
      #home #msform .content #rappel-msg span {
        display: inline; }
    #home #msform .content #confirm-msg {
      text-align: center;
      font-size: 13px; }
    #home #msform #information-rappel p {
      text-align: center;
      font-size: 15px; }
    #home #msform #numero-form img {
      width: 250px;
      margin: 0 auto;
      display: block; }
    #home #msform #validerformulaire {
      margin-top: 15px;
      width: 100%; }
      #home #msform #validerformulaire #cnil {
        background-position: top left;
        padding: 30px 0px; }
  #home #formulaire #form .title div i {
    display: none; }
  #home #formulaire #form .title div p {
    font-size: 15px; }
    #home #formulaire #form .title div p span {
      margin-bottom: 10px;
      font-size: 16px; }
  #home #informations-call {
    padding: 30px 0; }
    #home #informations-call .bloc p i {
      font-size: 50px; }
    #home #informations-call .bloc p span {
      font-size: 15px; }
  #home #progressbar {
    margin-bottom: 10px; }
    #home #progressbar:after {
      display: none; }
    #home #progressbar li {
      font-size: 13px;
      text-align: center; }
      #home #progressbar li span {
        display: block;
        text-align: center; }
      #home #progressbar li:after {
        display: none; }
      #home #progressbar li.active {
        color: #d60565;
        font-weight: 600; }
  #home #avis-commentaire {
    padding: 30px 0; }
    #home #avis-commentaire .box {
      margin-bottom: 30px; }
      #home #avis-commentaire .box .votes {
        padding-left: 15px; }
        #home #avis-commentaire .box .votes ul li {
          font-size: 15px; }
  #home #reassurance {
    padding: 20px 0;
    background: #54c0eb; }
    #home #reassurance i, #home #reassurance p {
      color: #fff; }
    #home #reassurance i {
      font-size: 50px;
      line-height: 50px; }
    #home #reassurance p {
      margin-bottom: 40px; }

  /*--- qui sommes nous ? ---*/
  #quisommesnous #background {
    height: 200px; }
  #quisommesnous #list-mission .bloc span {
    font-size: 16px; }
    #quisommesnous #list-mission .bloc span i {
      font-size: 25px; }

  /*-- notre mission --*/
  #mission #background {
    height: 200px; } }

/*# sourceMappingURL=app.css.map */
