.alert {
  padding: 7px 15px;
  margin-top: 0;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  &:hover {
    color:#fff;
  }
}
.alert-success {
  background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
  margin-bottom: 5px;

}
.prise-en-charge {
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
  margin-top: 5px;
}
.alert-danger {
  background: linear-gradient(135deg, #DA2A4A 0%, #FF3F62 100%);
}