/*form styles*/
#msform {
  position: relative;
  padding: 50px;
  .errortext {
    display: none;
  }
  .error {
    input {
      border:1px solid red;
    }
    .errortext {
      color: red;
      font-size: 14px;
      font-style: italic;
      position: relative;
      top: 0;
      right: 0;
      display: block;
      margin-bottom: 0;
    }
  }
  label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 45%;
    padding-top: 8px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select-custom {
    float: left;
    width: 55%;
    min-height: 44px;
    border-radius: 3px;
    position: relative;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0eeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0eeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eeee',GradientType=0 );
    padding: 5px;
    position: relative;
    border: 1px solid #fff!important;
    select {
      position: absolute;
      height: 100%;
      left: 0;
      width: 100%;
      background: transparent;
      top: 0;
      border: none;
      padding: 10px;
      z-index: 10;
      background: transparent;

    }
    &:before {
      border: none;
      width: 100%;
      height: 17px;
      width:19px;
      background: url(../images/arrow-down.png);
      position: absolute;
      right: 16px;
      top: 15px;
      content:'';
    }
    &:after {
      content: "";
      height: 43px;
      position: absolute;
      width: 2px;
      background: #fff;
      right: 50px;
      z-index: 10;
      display: block;
      top: 0;
    }
  }
  #remarque-bloc {
    display: none;
  }
  #secteur-bloc {
    #secteur-list {
      .r-group {
        position: relative;
        button {
          text-align: right;
          color: red;
          display: block;
          width: 100%;
          margin-top: -10px;
          font-size: 14px;
          float: left;

        }
      }
      position: relative;
      width: 55%;
      float: right;
      select {
        width:100%;
      }
      button {
        width: auto;
        background: none;
        border: none;
        display: inline-block;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 10px;
        span {
         padding-bottom: 3px;
         border-bottom:1px solid #333;
        }
        &:hover {
          color:$pink;
        }
      }
      .proposition {
        position: relative;
      }
      #other-proposition {
        display: none;
        float: left;
        width: 100%;
      }
      .list-ville {
        position: absolute;
        max-height: 200px;
        overflow: auto;
        background: #fff;
        top: 47px;
        width: 100%;
        border: 1px solid #ccc;
        padding: 15px;
        display: none;
        z-index: 101;
        li {
          font-size: 12px;
          cursor: pointer;
          font-weight: 600;
          &:hover {
            color:$pink;
          }
        }
      }

    }
    input {
      width: 100%;
    }
  }
  
  
  #periode-bloc {
    display: table;
    margin-top: 5px;

    ul {
      width: 40%;
      text-align: left;
      float: right;
    }
    li {
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    ul li input[type=radio]{
      position: absolute;
      visibility: hidden;
    }
    label {
      padding-right: 15px;
      width:60%;
      padding-top:17px;
      text-align: right;
      .errortext {
        width: 100%;
        font-weight: 400;
        right: 0;
        top: initial;
        bottom: 0;
        position: relative;
        text-align: right;
      }
    }
    ul li label{
      text-align: left;
      position: relative;
      font-weight: 500;
      width: 100%;
      font-size: 14px;
      padding: 0 0 0 25px;
      margin: 0;
      height: auto;
      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
      font-style: italic;
    }

    ul li:hover label{
      color: $blue;
    }

    ul li .check{
      display: block;
      position: absolute;
      height: 15px;
      width: 15px;
      top: 50%;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
      margin-top: -8px;
      -webkit-box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.26);
      -moz-box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.26);
      box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.26);
      background: #fff;
      border-radius: 3px;
    }

    ul li:hover .check {
      -webkit-box-shadow: inset 0px 1px 1px 2px rgba(0,0,0,0.26);
      -moz-box-shadow: inset 0px 1px 1px 2px rgba(0,0,0,0.26);
      box-shadow: inset 0px 1px 1px 2px rgba(0,0,0,0.26);
    }

    ul li .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 3px;
      height: 15px;
      width: 14px;
      top: 0px;
      left: 0px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }

    input[type=radio]:checked ~ .check {

    }
    input[type=radio]:checked ~ .check::before{
      background: $pink;
    }
    input[type=radio]:checked ~ label{
      color: #333;
    }

  }
  #age-bloc {
    label {
      width: 60%;
      text-align: right;
      padding-right: 15px;
    }
    input {
      float: right;
      width:40%;
      &::-webkit-inner-spin-button { -webkit-appearance: none;-moz-appearance: textfield;}
      &::-webkit-outer-spin-button { -webkit-appearance: none;-moz-appearance: textfield;}

    }
  }

  #cnil {
    font-size: 13px;
    font-style: italic;
  }
  


  .content {
    text-align: center;
    float: left;
    width:100%;
    #confirm-msg {
      font-size: 15px;
      display: inline-block;
      @include gradient-purple;
      color: #fff;
      padding: 10px 25px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
    #rappel-msg {
      text-align: center;
      color:$pink;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 35px;
      span {
        display: block;
      }
    }
  }
  .confirmation-phone {
    text-align: center;
    #information-rappel {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px;
      p {
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-top: 10px;
      }
    }
    #numero-form {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px;
    }
  }


  #etape-two {
    label {
      width:30%;
    }
    input {
      width:70%;
    }
    .error {
      .errortext {
        position: relative;
        width: 100%;
        display: block;
        float: left;
        text-align: right;
        margin-bottom: 15px;
        margin-top: -9px;
      }
    }
    #civilite-bloc {
      input {
        width: auto;
        min-height: auto;
        vertical-align: middle;
        padding: 0;
        margin-bottom: 0;
        display: inline-block;
        float: none;
        margin-left: 5px;
        margin-top: 4px;
      }
      &.error {
        .errortext {
          text-align: left;
          display: inline-block;
          float: none;
          width: auto;
        }
      }
      ul {
        li {
          display: inline-block;
          vertical-align: middle;
          &:first-child {
            margin-right: 15px;
          }
          span {
            width: auto;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

#msform fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 10px;
  border: 1px solid #ccc;
  float: right;
  width:55%;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 15px;
  font-weight: 500;
  min-height: 45px;
  &:focus {
    border:1px solid $pink;
  }

}
/*buttons*/
#msform .action-button {
  padding: 14px 25px;
  border: none;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  @include gradient-purple;
  color: #fff;
  width: auto;
  text-transform: uppercase;
  &.next {
    float: right;
    margin-top: 30px;
    p {
      margin-bottom: 0;
      line-height: 1em;
      font-size: 20px;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      font-size: 16px;
    }
  }
  &.valid {
    margin-top: 30px;
    float: right;
  }
  &:hover {
    background: $blue;
  }
}

/*progressbar*/
#progressbar {
  margin-bottom: 45px;
  counter-reset: step;
  position: relative;
  float: left;
  width: 100%;
  &:after {
    background: #d1dbe3;
    content:'';
    position: absolute;
    height:8px;
    width:100%;
    left:0;
    bottom: -15px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
  }
}
#progressbar li {
  list-style-type: none;
  font-size: 16px;
  width: 33.33%;
  float: left;
  color:#858585;
  position: relative;
  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: right;
  }
  &.active {
    color:#333;
    &:after {
      background: #2b3742;
      content:'';
      position: absolute;
      height:8px;
      width:100%;
      left:0;
      bottom: -15px;
      z-index:1;
    }
  }
}

#validerformulaire {
  margin-top: 30px;
  width: 80%;
  float: left;
  #cnil {
    background-image:url(../images/cnil_logo-large.png);
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    background-position: center left;
    padding: 0 30px 0 90px;
  }

}

button {
  &#formulaire-button {
    float: left;
    width:20%;
    &.action-button {
      &.valid {
        margin-top: 20px;
        p {
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          margin-bottom: 0;
          line-height: 1em;
          font-size: 20px;
          i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
}



