@mixin gradient-purple {
  background: #c01992;
  background: -moz-linear-gradient(left,  #c01992 1%, #d60564 100%);
  background: -webkit-linear-gradient(left,  #c01992 1%,#d60564 100%);
  background: linear-gradient(to right,  #c01992 1%,#d60564 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
}


@mixin gradient-blue {
  background: #54c0eb;
  background: -moz-linear-gradient(left,  #7cdaea 0%, #54c0eb  100%);
  background: -webkit-linear-gradient(left,  #7cdaea 0%,#54c0eb  100%);
  background: linear-gradient(to right,  #7cdaea 0%,#54c0eb  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c0eb', endColorstr='#1288b7',GradientType=1 );
}

@mixin cover {
  background: {
    repeat: no-repeat;
    position: center center;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin gradient-white {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #addcfa 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#addcfa 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#addcfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#addcfa',GradientType=0 );

}


@mixin transition {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}