.table-fill,
.tableuser{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  animation: float 5s infinite;
  border:1px solid #ccc;
  th {
    color: $blue;
    border-right: 1px solid $blue;
    border-bottom:1px solid $blue;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  th:first-child {
    border-top-left-radius:3px;
  }

  th:last-child {
    border-top-right-radius:3px;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    font-size:16px;
    font-weight:normal;
    font-weight: 500;
  }

  tr:first-child {
    border-top:none;
  }

  tr:last-child {
    border-bottom:none;
  }

  tr:nth-child(odd) td {
    background:#f5f5f5;
  }


  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

  td {
    background: #FFFFFF;
    padding: 5px 10px;
    color: #2b3742;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
    border-right: 1px solid #C1C3D1;
  }

  td:last-child {
    border-right: 0px;
  }

  th.text-left {
    text-align: left;
  }

  th.text-center {
    text-align: center;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
  }

  td.text-center {
    text-align: center;
  }

  td.text-right {
    text-align: right;
  }
}


/*-- table --*/

.dataTables_wrapper {
  color:$blue;
  .dataTables_filter {
    float: right;
    label {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    input {
      padding: 5px;
      border-radius: 3px;
      border: none;
      margin-left: 10px;
      color: #253138;
      margin-bottom: 10px;
      border: 1px solid $blue;
    }
  }
  .dataTables_length {
    float: left;
    select {
      background: $blue;
      color:#fff;
      padding: 5px 10px;
    }
  }
  .dataTables_info {
    display: none;
  }
  .dataTables_paginate {
    text-align: center;
    a {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 15px;
      background: #fff;
      color:$blue;
      border-radius: 3px;
    }
  }
}