
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap grid
@import "grid";

// FORM
@import "form";

// MODAL
@import "modal";

// Table
@import "table";

// Alert
@import "alert";

// DATE
@import "datepicker";



/*--- ADMIN ---*/


/*-- general --*/

body,html{margin: 0 auto;}body,p{line-height:1.45}a,a:focus,a:hover{color:#303030;text-decoration:none}body,ul{padding:0;margin:0}

html{font-size:100%;height: 100%;}
body{font-family:"Lato", Helvetica, Arial, sans-serif;font-size:16px;overflow-x:hidden;color:#2b3742;background:#fff;}
article,aside,figure,footer,header,nav,section{display:block}p{text-align:left;margin:0 0 15px}a{outline:0}a img{border:none}ul{list-style:none;-webkit-padding-start:0}img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:100%;height:auto}html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;outline:0!important}

*, *:after, *:before {
  box-sizing: border-box;
}

.clear {
  clear:both;
}

header {
  width: 220px;
  padding: 15px 0;
  background:#262B33;
  position: fixed;
  left:0;
  height:100%;
  #logo {
    img {
      width: 165px;
      margin: 15px;
    }
  }
  #menu {
    margin-bottom:7px;
    ul {
      li {
        a {
          color: rgba(255,255,255,0.5);
          padding:10px;
          display: block;
          font-size: 15px;
          border-bottom: 1px solid #3f444c;
          &:hover,
          &.active {
            background: $pink;
            color:#fff;
          }
        }
        ul {
          li {
            a {
              padding-left: 25px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

}

/*-- content --*/

#admincontent {
  padding: 0px 40px 40px 260px;
  #topheader {
    width:100%;
    float: left;
    padding: 15px 0;
    #profil {
      float: right;
      li {
        display: inline-block;
        position: relative;
        a {
          cursor: pointer;
          color:$blue;
          margin-right: 30px;
          display: block;
          position: relative;
          i {
            -ms-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            transform: rotate(270deg);
            display: block;
            position: absolute;
            right: -25px;
            top: 65%;
            margin-top: -10px;
            line-height: 1em;
          }
          &:hover {
            @include transition;

          }
        }
        #dropdown-menu {
          display: none;
          text-align: left;
          padding: 30px;
          width: 340px;
          box-shadow: 0 0 1px rgba(76,86,103,.25),0 2px 18px rgba(31,37,50,.32);
          max-height: 500px;
          background: #fff;
          position: absolute;
          margin: 10px 0 0;
          top: 100%;
          z-index: 10;
          right: -30px;
          #avatar-head {
            float: left;
            margin-right: 15px;
            img {
              width: 75px;
            }
          }
          .bloc {
            padding-bottom: 15px;
            border-bottom: 1px solid $blue;
            margin-bottom: 15px;
            #infos-head {
              p {
                margin-bottom: 2px;
                color:$blue;
                font-size: 12px;
                &#name-head {
                  font-size: 13px;
                }
                &#email-head {
                  color:$blue;
                }

              }
              a {
                &#profil-head {
                  margin-top: 5px;
                  color: #fff;
                  font-size: 10px;
                  font-weight: 600;
                  text-transform: uppercase;
                  letter-spacing: .4px;

                  border-radius: 2px;
                  //border: 1px solid $orange-dark;
                  width: 113px;
                  text-align: center;
                  padding: 7px 10px;
                  display: inline-block;
                }
              }
            }
          }

          #logout {
            text-transform: uppercase;
            color:$blue;
            font-size: 14px;
            font-weight: 600;
          }

        }
      }
    }
  }
  #admin-home {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    #stats {
      .bloc {
        display: table;
        padding: 20px;
        background: $blue;
        border-radius: 3px;
        height:105px;
        width:100%;
        i,p {
          display: table-cell;
          vertical-align: middle;
          color:#fff;
          font-size: 16px;
        }
        i {
          width:15%;
        }
        p {
          width:85%;
          text-align: right;

          span {
            display: block;
            font-size: 20px;
            font-weight: 700;
          }
        }
        i {
          font-size: 35px;
        }
      }
    }
  }
  #list-demandeurs {

    .editing {
      margin-bottom: 5px;
    }
  }
  #list-users {

    #createuser {
      margin:30px 0;
      text-align: right;
      float: right;
      width:100%;
      a {
        background: $pink;
        display: inline-block;
        padding: 10px 20px;
        color:#fff;
        text-transform: uppercase;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
          background:$blue;
        }
      }
    }

    .tableuser {
      td {
        select {
          padding: 5px;
          width:100%;
          margin-bottom: 5px;
        }
      }
    }
  }
}

#admin-onglet {
  background: $blue;
  color:#fff;
  width:100%;
  .col-10 {
    font-size: 14px;
    text-align: center;
    width: 9.090909090909091%;
    position: relative;
    @include transition;
    padding: 10px;
    a {
      color:#fff;
      @include transition;
      display: block;
      text-align: center;
      position: absolute;
      height:100%;
      width:100%;
      top:0;
      left:0;

    }
    &:hover,
    &.actif {
      @include gradient-purple;
    }
  }
}
#bloc-statut {
  float: left;
  width: 100%;
  padding: 30px;
  background: #262B33;
  .box {
    background-color:rgba(255,255,255,0.5);
    padding: 20px;
    p {
      margin-bottom: 0;
      color:#fff;
      span {
        display: block;
        border-bottom:1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    &:focus {
      border:1px solid $pink;
    }
  }
  button {
    padding: 10px 25px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    @include gradient-purple;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    &:hover {
      background:$blue;
    }
  }
}


#form {
  padding: 40px;
  border:1px solid #ccc;
  float: left;
  margin-bottom: 20px;
  width:100%;
  .title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color:#54c0eb;
  }
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  .switch-field label {
    float: left;
  }

  .switch-field label {
    display: inline-block;
    width: 60px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
  }

  .switch-field label:hover {
    cursor: pointer;
  }

  .switch-field input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  .title-small {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .subtitle {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    display: block;
    padding:0 0 5px 0;
  }
  .infos {
    margin-bottom: 0px;
  }
  .condition {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 5px 0;
  }
  .box {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    .small-title {
      font-size: 17px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    .block {
      margin-bottom: 20px;
    }
  }
  .radio {
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .inputeffect {
    border-radius:3px;
    border:1px solid #ccc;
    padding: 10px;
    width:100%;
  }
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
  }
  label {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
  }
  #commentaire-list {
    margin-bottom: 40px;
    position: relative;
    .commentaire {
      margin-bottom: 20px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 14px;
      border: none;
      font-size: 25px;
      border-radius: 3px;
      @include gradient-purple;
      color: #fff;
      line-height: 35px;
      width: 13%;
      &:hover {
        background:$blue;
      }
    }
    input {
      width:85%;
    }

  }
}

.buttons {
  text-align: right;
  button {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
    width: auto;
    border-radius: 3px;
  }
  a {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    display: inline-block;
    background: linear-gradient(135deg, #3799DA 0%, #2AD1DA 100%);
    border-radius: 3px;
  }
}


#login {
  height:auto;
  width:100%;
  @include cover;
  background-image: url(../images/login-bg.jpg);
  #loginform {
    margin-top: 120px;
    width: 490px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    margin: 120px auto 20px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.32);
    #form-login {
      form {
        .form-group {
          margin-bottom: 20px;
          label {
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            color:$blue;
          }
          input {
            width:100%;
            padding: 10px;
            border-radius: 5px;
            border:1px solid #ccc;
          }
        }
        #logo-login {
          display: block;
          text-align: center;
          margin-bottom: 30px;
        }
        #rememberme {
          label {
            font-size: 16px;
            text-transform: initial;
            color: #333;
            input {
              display: inline-block;
              vertical-align: middle;
              width: auto;
              margin-right: 10px;
              margin-top: -4px;
            }
          }
        }
        #mdp-forget {
          text-align: center;
          a {
            font-weight: 600;
            color:$blue;
          }
        }
      }
      .submit {
        text-align: center;
        button {
          background: $pink;
          padding: 10px 25px;
          color:#fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          border:none;
          &:hover {
            background: $blue;
          }
        }
      }
      .help-block {
        font-size: 13px;
        color:red;
      }
    }
  }
}


/*-- ajout utilisateurs --*/


.create-users {
  margin-top: 30px;
}

/*-- edit utilisateurs --*/

.edit-users {
  #backuser {
    margin:0px 0px 30px 0;
    text-align: left;
    float: left;
    width:100%;
    a {
      background: $pink;
      display: inline-block;
      padding: 10px 20px;
      color:#fff;
      text-transform: uppercase;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        background:$blue;
      }
    }
  }
  .buttons {
    margin-top: 20px;
  }
  #regions-list {
    margin: 20px 0;
    ul {
      li {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        p {
          display: block;
          margin-right: 0;
          padding: 10px 25px;
          background: #262B33;
          color: #fff;
          margin-bottom: 0;
        }
      }
    }
   
  }
}

/*-- commentaires --*/

#commentaire-bloc {
  .comments {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    p {
      margin-bottom: 0px;
      &.comment-date {
        font-style: italic;
        font-size: 12px;
        margin-top: 15px;
        text-align: right;
      }
    }
  }
}



/*--- faq --*/

#faq {
  #title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  #createfaq {
    margin-bottom: 15px;
    text-align: right;
    a {
      background: #d60565;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .categorie-name {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .categories {
    margin-bottom: 30px;
    .faq-box {
      background: #f9f9f9;
      padding: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover,
      &.opened {
        background:$pink;
        color:#fff;
        p {
          color:#fff;
        }
      }
      .questions {
        font-weight: 700;
        position: relative;
        button {
          position: absolute;
          width: auto;
          right: 0;
          top: -5px;
        }
      }
      .reponses {
        display: none;
      }
      p {
        margin-bottom: 0;
      }

    }
  }
  #allquestion {
    a {
      background: #d60565;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;

    }
  }
  #faq-search {
    margin-bottom: 20px;
    input,.submit {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 80%;
    }
    .submit {
      button {
        padding: 10px 15px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        display: inline-block;
        text-align: center;
        background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
        width: auto;
        border-radius: 3px;
      }
    }
  }
  #categories-faq {
    select {
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 10px;
      width: 100%;
    }
  }

  /*-- suggestion --*/

  #questionsuggere {
    margin-top: 50px;
    &__title {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 900;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
    }
    input,textarea {

    }
  }
}

/*-- ehpad --*/

#list-ehpad {
  #title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  #ehpad-search {
    margin-bottom: 20px;
    input, .submit {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin-right: 30px;
      width: 250px;
    }
    .submit {
      button {
        padding: 10px 15px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        display: inline-block;
        text-align: center;
        background: linear-gradient(135deg, #78BB44 0%, #5ADEA1 100%);
        width: auto;
        border-radius: 3px;
      }
    }
  }
}

/*--- show ehpad --*/

#form {
  #relancebloc {
    margin-top: 40px;
    background:#54c0eb;
    .subtitle {
      color:#fff;
    }
    #commentaire-bloc {
      margin-top: 30px;
      .etat,
      .commentaire{
        margin-bottom: 15px;
      }
      textarea {
        height: 65px;
      }
      label {
        color:#fff;
        margin-left: 0;
        margin-bottom: 3px;
      }
    }
  }
}

/*-- pagination --*/

.paginate {
  margin: 20px 0;
  ul {
    li {
      display: inline-block;
      a,span {
        display: block;
        padding: 10px 15px;
        font-size: 13px;
        background:$blue;
        color:#fff;
      }
      a {
        &:hover {
          background: $pink;
        }
      }
    }
  }
}


/*--- secteurs champs ---*/

#secteurs {
  input {
    margin-bottom: 5px;
  }
}


/*--- Creation fiche ---*/

.create-fiche {
  &#form {
    .error {
      .errortext {
        color:red;
        font-size: 12px;
      }
      .inputeffect {
        border:1px solid red;
      }
    }
  }

  #secteur-bloc {
    #secteur-list {
      .r-group {
        position: relative;
        button {
          text-align: right;
          color: red;
          display: block;
          width: 100%;
          font-size: 14px;
          float: left;
        }
      }
      position: relative;
      width: 100%;
      float: right;
      select {
        width:100%;
      }
      button {
        width: auto;
        background: none;
        border: none;
        display: inline-block;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 10px;
        span {
          padding-bottom: 3px;
          border-bottom:1px solid #333;
        }
        &:hover {
          color:$pink;
        }
      }
      .proposition {
        position: relative;
        margin-bottom: 5px;

      }
      #other-proposition {
        display: none;
        float: left;
        width: 100%;
      }
      .list-ville {
        position: absolute;
        max-height: 200px;
        overflow: auto;
        background: #fff;
        top: 47px;
        width: 100%;
        border: 1px solid #ccc;
        padding: 15px;
        display: none;
        z-index: 101;
        li {
          font-size: 12px;
          cursor: pointer;
          font-weight: 600;
          &:hover {
            color:$pink;
          }
        }
      }
    }
    input {
      width: 100%;
    }
  }
}

/*--- maison de retraite lie au demande --*/

#listemaisonderetraite {
  margin: 0 0 50px 0;
  td {
    .alert {
      margin-bottom: 0;
    }
  }
  .choisie {
    td {
      background: #262B33;
      color:#fff;
      .alert {
        background: none;
      }
    }

  }
}


/*-- responsive --*/

@media only screen and (max-width: 1400px) {@import "admin/responsive/1450up";}
@media only screen and (max-width: 992px) {@import "admin/responsive/1030up";}
@media only screen and (max-width: 768px) {@import "admin/responsive/768up";}