
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap grid
@import "grid";

// FORM
@import "form";

// MODAL
@import "modal";

// MODAL
@import "alert";

/*-- general --*/

.clear {clear:both;}

body,html{margin: 0 auto;}body,p{line-height:1.45}a,a:focus,a:hover{color:#303030;text-decoration:none}body,ul{padding:0;margin:0}

html{font-size:100%}
body{font-family:"Lato", Helvetica, Arial, sans-serif;font-size:16px;letter-spacing: -0.6px;overflow-x:hidden;color:#2b3742;background:$body-bg}
article,aside,figure,footer,header,nav,section{display:block}p{text-align:left;margin:0 0 15px}a{outline:0}a img{border:none}ul{list-style:none;-webkit-padding-start:0}img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:100%;height:auto}html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;outline:0!important}

*, *:after, *:before {
  box-sizing: border-box;
}

.big-title {
  color:#fff;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

#main {
  padding-top: 151px;
}


/*--- footer ---*/

footer {
  background: #324a5e;
  float: left;
  width:100%;
  padding: 40px 0;
  #menu-footer {
    ul {
      li {
        a {
          color:#fff;
          font-size: 17px;
          font-weight: 500;
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
  #docs-footer {
    text-align: right;
    p {
      color: #fff;
      text-align: right;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
    span {
      color: #fff;
      font-size: 13px;
      margin-top: 25px;
      display: block;
    }
    ul {
      li {
        a {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 5px;
          display: block;
          i {
            color:$blue;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

/*--- header ---*/

header {
  position: fixed;
  top:0;
  width:100%;
  background: #f3f7f3;
  z-index:100;
  #topheader {
    padding: 15px 0;
    #button-mobile {
      display: none;
    }
    a {
      display: block;
      &#logo {
        float: left;
      }
      &#callback {
        float: right;
        img {
          max-width: 300px;
        }
      }
    }
    #free-service {
      color:#fff;
      font-size: 25px;
      font-style: italic;
      @include gradient-blue;
      position: absolute;
      width:auto;
      display: inline-block;
      padding: 6px 20px;
      top: 0;
      left: 50%;
      margin-bottom: 0;
      margin-left: -95px;
    }
  }
  #menu {
    margin-bottom:7px;
    ul {
      margin-left: -4px;
      margin-right: -4px;
      li {
        width:20%;
        float: left;
        padding: 0 4px;
        a {
          background: #fff;
          padding:10px;
          display: block;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          color:#30475a;
          line-height: 24px;
          &:hover {
            color:#fff;
            background:$pink;
          }
        }
        &#demande-urgent {
          width:40%;
          a {
            @include gradient-purple;
            padding: 5px 10px;
            color: #fff;
            line-height: 17px;
            -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
            box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
            text-align: center;
            p {
              margin-bottom: 0;
              line-height: 17px;
              text-align: center;
              display: inline-block;
              position: relative;
              &:after {
                content:'';
                width:30px;
                height:30px;
                background-image:url(../images/notifcations.png);
                background-repeat: no-repeat;
                position: absolute;
                left:0;
                top:50%;
                margin-top: -15px;
                left: -45px;
              }
            }
            span {
              display: block;
              text-transform: initial;
              font-weight: 400;
            }
            &:hover {
              background:$blue;
            }
          }
        }
      }
    }
  }
}


/*-- Home --*/

#home {
  .bandeau {
    p {
      text-transform: initial;
      font-style: italic;
      padding: 3px 0;
    }
  }
  #formulaire {
    @include cover;
    padding: 40px 0;
    background-image:url('../images/formulaire.jpg');
    #form {
      position: relative;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
      z-index: 1;
      &:after {
        content:'';
        width:100%;
        height:100%;
        left:0;
        top:0;
        @include gradient-white;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
      }
      .title {
        position: relative;
        padding:10px  20px;
        background: #fff;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        text-align: center;
        div {
          display: inline-block;
          position: relative;
          i {
            position: absolute;
            right: 103%;
            font-size: 55px;
          }
          p {
            text-align: center;
            color:$pink;
            font-size: 18px;
            margin-bottom: 0;
            span {
              text-transform: uppercase;
              font-size: 25px;
              color: #324a5e;
              font-weight: 600;
              display: block;
            }
          }
        }
      }
    }
  }
  #informations-call {
    @include gradient-blue;
    padding: 50px 0;
    float: left;
    width:100%;
    .bloc {
      p {
        text-align: center;
        color:#fff;
        i {
          display: block;
          font-size: 70px;
        }
        span {
          display: block;
          font-size: 20px;
          font-style: italic;
        }
        &:hover {
            color: #2b3742;
        }
      }
    }
  }
  #avis-commentaire {
    float: left;
    width:100%;
    padding: 40px 0;
    background: #fff;
    .col-md-4 {
      &:first-child {
        .box {
          &:after {
            display: none;
          }
        }

      }
    }
    .col-xs-12 {
      &:first-child {
        .box {

          &:after{
            display: none;
          }
        }
      }
    }
    .box {
      position: relative;

      .photo,.votes {
        display: table-cell;
        vertical-align: middle;
      }
      &:after {
        width:1px;
        height:100%;
        content:'';
        position: absolute;
        border-left:1px dashed #acacac ;
        top:0;
        left:-20px;
      }

      .photo {
        width:20%;
        img {
          max-width: 100px;
        }
      }
      .votes {
        width:50%;
        text-align: right;
        padding-left: 30px;
        ul {
          li {
            font-size: 30px;
            display: inline-block;
            margin: 0 2px;
            color:#faca49;
          }
        }
      }
      p {
        margin-top: 20px;
        text-align: justify;
        min-height: 92px;
        font-style: italic;
      }
      .author {
        text-align: right;
        display: block;
        font-weight: 600;
      }
    }
  }
  #contenu {
    float: left;
    width:100%;
    padding: 40px 0;
    h2 {
      color:$blue;
      font-style: italic;
    }
  }
  #reassurance {
    background: #fff;
    float: left;
    width:100%;
    padding: 40px 0;
    p {
      text-align: center;
      font-style: italic;
      font-size: 20px;

    }
    i {
      font-size: 70px;
      display: block;
      text-align: center;
      color:$blue;
    }
  }
}

/*-- PAGES --*/
.bandeau {
  @include gradient-blue;
  p {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 500;
  }
}

/*-- Qui sommes nous --*/

#quisommesnous {
  #background {
    height: 450px;
    float: left;
    width: 100%;
    @include cover;
    background-image: url(../images/notre-mission.jpg);
  }
  #content {
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px 0;
    p {
      margin-bottom: 0;
    }
  }
  #list-mission {
    float: left;
    width: 100%;
    .bloc {
      background: #fff;
      padding: 20px 0;
      &:nth-child(2n+1) {
        background: #f5f9f5;
      }
      span {
        display: block;
        color: #1e93c1;
        font-size: 21px;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 10px;
        i {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          font-size: 35px;
          color: $pink;
        }
      }
    }
  }
}

/*-- NOTRE MISSION --*/

#mission {
  #background {
    height: 450px;
    float: left;
    width: 100%;
    @include cover;
    background-image: url(../images/qui-sommes-nous.jpg);
  }
  #content {
    float: left;
    width: 100%;
    background: #fff;
    padding: 50px 0;
    p {
      margin-bottom: 0;
    }
  }
}

/*-- CONTACT --*/

#bloc-contact {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  #list-bloc {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .col-sm-6 {
      padding: 0 10px;
    }
  }
  .box {
    background:$blue;
    padding:30px;
    margin-bottom: 20px;
    p {
      text-align: center;
      color:#fff;
      margin-bottom: 0;
      i {
        display: block;
        text-align: center;
        font-size: 70px;
        line-height: 1em;
        margin-bottom: 20px;

      }
      span {
        display: block;
        font-size: 20px;
        font-style: italic;
      }
    }

  }
}

/*--- modal ---*/

.form {
  label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    width:20%;
    float: left;
  }
  .errortext {
    display: none;
  }
 .error  {
   .errortext {
     color: red;
     font-size: 14px;
     font-style: italic;
     position: relative;
     top: 0;
     left: 86px;
     display: block;
     float: left;
     margin-top: -7px;
   }
  }
  input,
  textarea{
    float: left;
    width:80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
  }
  textarea {
    height:150px;
  }
  .buttons {
    text-align: right;
    margin-top: 20px;
    #requiredfields {
      font-size: 14px;
      display: inline-block;
      float: left;
      margin-left: 86px;
    }
    button {
      padding: 10px 25px;
      border: none;
      font-weight: 700;
      border-radius: 3px;
      @include gradient-purple;
      color: #fff;
      width: auto;
      text-transform: uppercase;
      line-height: 1em;
      font-size: 20px;
      &:hover {
        background:$blue;
      }
    }
  }
}

/*-- PAGES --*/

.page {
  padding: 50px 0;
  float: left;
  width:100%;
  p {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {@import "responsive/1240up";}
@media only screen and (max-width: 992px) {@import "responsive/1030up";}
@media only screen and (max-width: 768px) {@import "responsive/768up";}