.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  position: absolute;
  z-index: 101;
  padding: 50px 30px 30px;
  @include  gradient-white;
  .title {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
    i {
      color: #d60565;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      font-size: 40px;
      line-height: 1em;
    }
  }
}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 960px;margin-left: -480px;}

.reveal-modal {
  .close-reveal-modal {
    font-size: 30px;
    line-height: .5;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #d60565;
    font-weight: bold;
    cursor: pointer;
  }

}


#Modal-tel {
  span {
    display: block;
    font-size: 23px;
    text-align: center;
    font-weight: 800;
  }
  img {
    display: block;
    margin: 0 auto 20px;
  }
}

#Modal-mail {
  #objet-bloc {
    label {
      width:86px;
    }
    input {
      width: 814px;
    }
  }
  #message-bloc {
    label {
      width:86px;
    }
    textarea {
      width: 814px;
    }
  }


}

#Modal-rappel {
  #button {
    p {
      text-align: center;
      margin-bottom: 25px;
      a {
        display: inline-block;
        @include gradient-purple;
        padding: 15px 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        border-radius: 3px;
        width:50%;
        cursor: pointer;
        i {
          color:#fff;
          display: inline-block;
          vertical-align: middle;
          line-height: 1em;
          margin-right: 15px;
          font-size: 25px;
        }
      }
    }
  }
  #immediat {
    display: none;
    p {
      text-align: center;
      font-size: 18px;
    }
    form {
      text-align: center;
    }
    input {
      float: none;
    }
    input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;;
      width: 250px;
      border-radius: 3px;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 15px;
      font-weight: 500;
      min-height: 45px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
    input[type="submit"] {
      padding: 9px 25px;
      border: none;
      -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      background: #c01992;
      background: -moz-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: -webkit-linear-gradient(left, #c01992 1%, #d60564 100%);
      background: linear-gradient(to right, #c01992 1%, #d60564 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01992', endColorstr='#d60564',GradientType=1 );
      color: #fff;
      width: auto;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;

    }
  }
}