/*--- onglet ---*/


#admin-onglet  {

  .col-10 {
    width: 50%;
    border-bottom: 1px solid #63abc7;
    border-right: 1px solid #63abc7;
    float: left;
  }
}

#form {
  .col-md-offset-1 {
    width:100%;
    margin: 0;
  }
}

/*--- liste --*/


.dataTables_wrapper {
  overflow: auto;
}