.container {
  width:100%;
}

.big-title {
  font-size: 20px;
}

header  {
  #topheader {
    #free-service {
      display: none;
    }
    #logo {
      img {
        width:150px;
      }
    }
  }
  #menu  {
    ul {
      li {
        width: 25%;
        &#demande-urgent {
          width: 25%;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
}

/*--- HOME ---*/

#home  {
  #msform {
    padding: 30px;
    label {
      padding-right: 15px;
    }
    #secteur-bloc {
      label {
        padding-top: 0;
      }
    }
  }
  #formulaire {
    #form  {
      .title {
        div {
          p {
            span {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
  #informations-call  {
    .bloc {
      p  {
        span {
          font-size: 15px;
        }
      }
    }
  }
  #avis-commentaire  {
    .box {
      .votes {
        ul {
          li {
            font-size: 15px
          }
        }
      }
      .photo {
        img {
          max-width: 75px;
        }
      }
    }
  }
}

/*--- modal ---*/

.reveal-modal.xlarge {
  width: 96%;
  left: 0%;
  margin: 0 2%;
  padding: 20px;
  .close-reveal-modal {
    top: -40px;
    right: 0;
    color: #fff;
  }
  .title {
    font-size: 19px;
    margin-bottom: 40px;
    line-height: 10px;
  }
  label {
    width:100%;
  }
  input {
    width:100%;
  }
  &#Modal-mail {
    #objet-bloc,
    #message-bloc{
      label {
        width:100%;
      }
      input,
      textarea {
        width:100%;
      }
    }
  }
  &#Modal-tel  {
    span {
      font-size: 18px;

    }
  }
  &#Modal-rappel {
    #button {
      p {
        a {
          width:100%;
        }
      }
    }
  }
}

.form  {
  .buttons {
    #requiredfields {
      margin-left: 0;
    }
  }
}