/*-- home --*/

/*-etape1--*/

#msform {
  #lien-bloc {
    label {
      padding-top: 0;
    }
  }

  #periode-bloc  {
    label {
      width: 58%;
    }
    ul {
      width: 42%;
    }
  }

}

/*-- temoignages --*/

#home {
  #avis-commentaire  {
    .box .votes {
      ul {
        li {
          font-size: 20px
        }
      }
    }
  }
}


/*--- modal ---*/


.reveal-modal.xlarge {
  width: 900px;
  margin-left: -450px;
  left: 50%;
  &#Modal-mail {
    #objet-bloc,
    #message-bloc{
      label {
        width:80px;
      }
      input,
      textarea {
        width: 760px;
      }
    }
  }
}
