.container {
  width:100%;
}

.big-title {
  font-size: 18px;
}
footer {
  padding: 20px 0;
  #menu-footer  {
    ul {
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }
  #docs-footer {
    text-align: left;
    margin-top: 30px;
    p {
      text-align: left;
      font-size: 13px;
    }
  }
}
header  {
  #topheader {
    #button-mobile {
      display: block;
      position: absolute;
      font-size: 30px;
      right: 15px;
    }
    #logo {
      img {
        width:150px;
      }
    }
    a {
      &#callback {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15px;
      }
    }

  }
  #menu  {
    display: none;
    ul {
      li {
        width: 100%;
        &#demande-urgent {
          width: 100%;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
}

/*--- HOME ---*/

#home  {
  .bandeau  {
    p {
      font-size: 20px;
    }
  }
  #msform {
    padding: 15px;
    label {
      display: block;
      width: 100%;
      text-align: left;
      padding-top: 0;
      margin-bottom: 3px;

    }
    input,select,ul {
      width:100%;
    }
    ul {
      margin-bottom: 20px;
    }
    #secteur-bloc  {
      #secteur-list {
        width:100%;
        input {
          width: 100%;

        }
        button {
          width: 100%;
        }
      }

    }
    .error{
      .errortext {
        position: relative;
        right: 0;
        top:0;
      }
    }
    .content {
      #rappel-msg {
        font-size: 16px;
        margin-bottom: 15px;
        span {
          display: inline;
        }
      }
      #confirm-msg {
        text-align: center;
        font-size: 13px;
      }
    }
    #information-rappel {
      p {
        text-align: center;
        font-size: 15px;
      }
    }
    #numero-form {
       img {
         width: 250px;
         margin: 0 auto;
         display: block;
       }
    }
    #validerformulaire {
      margin-top: 15px;
      width: 100%;
      #cnil {
        background-position: top left;
        padding: 30px 0px;
      }
    }
  }
  #formulaire {
    #form  {
      .title {
        div {
          i {
            display: none;
          }
          p {
            font-size: 15px;
            span {
              margin-bottom: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }

  }
  #informations-call {
    padding: 30px 0;
    .bloc {
      p  {
        i {
          font-size: 50px;
        }
        span {
          font-size: 15px;
        }
      }
    }
  }
  #progressbar {
    margin-bottom: 10px;
    &:after {
      display: none;
    }
    li{
      font-size: 13px;
      text-align: center;
      span {
        display: block;
        text-align: center;
      }
      &:after {
        display: none;
      }
      &.active {
        color:$pink;
        font-weight: 600;
      }

    }
  }
  #avis-commentaire {
    padding: 30px 0;
    .box {
      margin-bottom: 30px;
      .votes {
        padding-left: 15px;
        ul {
          li {
            font-size: 15px;
          }
        }
      }
    }
  }
  #reassurance {
    padding: 20px 0;
    background: $blue;
    i,p {
      color:#fff;
    }
    i {
      font-size: 50px;
      line-height: 50px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}


/*--- qui sommes nous ? ---*/


#quisommesnous  {
  #background {
    height: 200px;
  }
  #list-mission {
    .bloc {
      span {
        font-size: 16px;
        i {
          font-size: 25px;
        }
      }
    }
  }
}


/*-- notre mission --*/
#mission {
  #background {
    height: 200px;
  }
}
